* {
	box-sizing: border-box;
}

body {
	background-color: #1c2a48;
}

.main-container {
	background-color: #1c2a48;
	/*max-width: 85%;*/
	/*margin: 0px auto;*/
}

.panel-heading {
	/*letter-spacing: 1.5px;*/
	font-family: 'Roboto', sans-serif;
}

.panel-title {
	font-size: 2.25rem;
	color: #1c2a48;
}

#jumbo {
	background: url("../images/profilePageImage.jpg");
		/*background: #f1f1f1;*/
	background-repeat: no-repeat;
	/*background-position: center center;*/
	/*background-attachment: fixed;*/
	background-size: contain;
	max-width: 1140px;
	height: auto;
	padding-top: 40%;
}

.container #jumbo {
	padding-bottom: 0px;
	border-radius: 0px 0px;
}

.navbar-brand {
	background: url("../images/Navbar-image.svg");
		/*background: #f1f1f1;*/
	background-repeat: no-repeat;
	background-position: left center;
	/*background-attachment: fixed;*/
	background-size: contain;
	width: 360px;
	height: auto;
	padding-top: 4rem;
}

.navbar {
	margin-top: 2rem;
}

